<a [routerLink]="''" class="btn btn-primary">Back to home</a>
<button (click)="openUserForm()" class="btn btn-secondary">Create User</button>
<button>Edit User</button>

<button>Delete User</button>

<app-life-cycle-test *ngIf="rows[0]?.login" [userName]="rows[0]?.login" (lifecycleHookViewChanged)="execute($event)" >

  <h1>Content inside the component</h1>
</app-life-cycle-test>

<!-- <ng-container *ngIf="rows[0]?.login">
</ng-container> -->
<!-- <span *ngIf="rows[0]">
</span> -->

<ngx-datatable
    class="table"
    [rows]="rows"
    [loadingIndicator]="loadingIndicator"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [reorderable]="reorderable"
>
</ngx-datatable>
